<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    <security:http pattern="/resources/**" security="none" />

    <bean id="accessDeniedHandler"
          class="com.jb.vecinos.security.MyAccessDeniedHandler">
        <property name="accessDeniedUrl" value="403" />
    </bean>

    <security:http auto-config="true">
        <security:intercept-url pattern="/home" access="ROLE_USER,ROLE_ADMIN,ROLE_ROOT" />
        <security:intercept-url pattern="/user*" access="ROLE_USER,ROLE_ROOT" />
        <security:intercept-url pattern="/usAdm*" access="ROLE_USER,ROLE_ADMIN,ROLE_ROOT" />
        <security:intercept-url pattern="/admin*" access="ROLE_ADMIN,ROLE_ROOT" />
        <security:form-login login-page="/login" default-target-url="/home"
                             username-parameter="username"
                             password-parameter="password"
                             authentication-failure-url="/loginError"/>
        <security:access-denied-handler ref="accessDeniedHandler"/>
    </security:http>



    <security:authentication-manager>
        <security:authentication-provider >
            <security:jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query=
                                       "select username,password,enabled from users where username=?"
                               authorities-by-username-query=
                                       "select username, rol from user_roles where username =?  " />
        </security:authentication-provider>
    </security:authentication-manager>

</beans>